@keyframes show
    0%
        opacity: 0
        filter: drop-shadow(30px 10px 4px #4444dd)

    100%
        opacity: 1
        filter: drop-shadow(0, 0, 0, #444ddd)
    
.root
    top: calc(50% - 125px)
    width: 80%
    margin: auto
    position: absolute
    overflow: hidden
    height: 250px
    z-index: 10
    animation: show 2000ms ease-in 200ms
    opacity: 0

.item
    width: 100%
    position: absolute
    transition: left 300ms ease-in, opacity 200ms ease-in
    opacity: 1
    padding: 20px

@keyframes rotate
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

.item__icon
    width: 150px
    height: 150px
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    float: left
    margin: 20px
    animation: rotate 6000ms linear 0s infinite
    filter: drop-shadow(15px 15px 15px #000)

.item__content
    h3
        font-size: 3rem
        margin-top: 15px
        -webkit-text-stroke-width: 0
        -webkit-text-stroke-color: #000
        color: #acbb74
    p
        font-size: 1.5rem
        font-weight: 500
        
