.Ukraine
    position: absolute
    z-index: 50000
    bottom: 10px
    right: 10px
    width: 140px
    height: 88px
    background-image: url(/ukraine.png)
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    transition: 200ms ease-in
    filter: drop-shadow(10px 10px 10px #000)
    &:hover
        cursor: pointer
        filter: drop-shadow(15px 15px 15px #000)

.sound
    position: absolute
    z-index: 50000
    bottom: 10px
    left: 10px
    width: 50px
    height: 50px
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    transition: 200ms ease-in
    filter: drop-shadow(10px 10px 10px #000)
    background-image: url(/sound_off.png)
    background-size: 35px
    filter: invert(1)
    &:hover
        cursor: pointer

.soundOn

.soundOff
    &::after
        content: ""
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-image: url(/cancel.png)
        background-size: cover
        background-size: 35px
        background-repeat: no-repeat
        background-position: center
        transform: rotate(8deg)