.root
    position: fixed
    top: -21vw
    left: 0
    width: 100vw
    height: 100vh
    z-index: 5
    perspective: 20em
    transform-style: preserve-3d
    perspective-origin: 50%

    canvas
        transform: rotateX(45deg)